body {
  background: #eee;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
  grid-gap: 3px;
}

.left {
    background: #fff;
}

header {
    grid-column: 1/13;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    background: teal;
    padding-top: 1%;
    padding-left: 2%;
}

.title {
    color: #fff;
}

.search input {
    margin-top: 4%;
    width: 80%;
    padding: 2%;
    border: none;
    border-radius: 3px;
}

.links {
    padding-top: 2%;
    color: #fff;
}
.links ul li {
    list-style: none;
    display: inline-block;
    margin-right: 3%;
}

.links a:link{
    text-decoration: none;
    color: #fff;
}

main {
    grid-column: 1/13;
    grid-row: 2/12;
}

.container {
    padding: 1%;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-gap: 5px;
    height: 90%;
}

.left,.middle,.right {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    padding: 2%;
    border-radius: 3px;
}

form {
    border: 1px solid teal;
    padding: 1%;
    width: 45%;
    border-radius: 3px;
    margin:3% auto;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    text-align: center;
}
h3 {
    color: teal;
    text-align: center;
    border-bottom: 1px solid teal;
}

form input {
    width: 92%;
    margin: 2%;
    padding: 2%;
    border: none;
    border-radius: 3px;
}

footer {
    grid-column: 1/13;
    background: #696969;
    text-align: center;
    color: #fff;
}

.middle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3px;
    padding: 1%;
}

.prod {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    background: #fff;
    border-radius: 3px;
}

img {
    width: 150px;
    height: 120px;
}

.details {
    padding: 2%;
    text-align: center;
}

table, td {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

h5 {
    color: teal;
    text-align: center;
    border-bottom: 1px solid;
}

.list {
    border: 1px solid teal;
    padding: 2%;
    text-align: center;
    margin-bottom: 2%;
    background: teal;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.list:hover {
    background: #eee;
    color: teal;
}

.btn-prod {
    border: none;
    border-radius: 3px;
    padding: 2%;
    background: teal;
    color: #fff;
    cursor: pointer;
}

.btn-prodel {
    border: none;
    cursor: pointer;
    border-radius: 3px;
    padding: 2%;
    background: #C63D44;
    color: #fff;
}